html,
body {
  font-size: 16px;
}
#clock {
  width: 20em;
  height: 20em;
  border-radius: 50%;
  border: solid 1px black;
  margin: auto;
  position: relative;
}
#clock div,
.faceBox {
  border: 0;
  position: absolute;
  transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform: rotate(0deg);
}
#clock #hour {
  border-radius: 0.75em 0.75em 0 0;
  width: 1.5em;
  height: 6em;
  top: 4em;
  left: 9.25em;
  background-color: black;
}
#clock #minute {
  border-radius: 0.5em;
  width: 1em;
  height: 6em;
  top: 4em;
  left: 9.5em;
  background-color: black;
}
#clock #second {
  border-radius: 0.25em;
  width: 0.5em;
  height: 9em;
  top: 1em;
  left: 9.75em;
  background-color: #185181;
}
#clock #center {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  top: 9em;
  left: 9em;
  transform: rotate(0deg);
  background-color: black;
}
.smallTick {
  width: 0.1em;
  height: 0.5em;
  background-color: black;
  margin: 0 1.45em;
}
.mediumTick {
  width: 0.25em;
  height: 0.8em;
  background-color: black;
  margin: 0 1.375em;
}
.largeTick {
  width: 0.4em;
  height: 0.8em;
  background-color: black;
  position: relative;
  margin: 0 1.3em;
}
.tickNum {
  font-family: Arial, sans-serif;
  font-size: 2em;
  line-height: 0;
  color: black;
  position: relative;
  top: 1em;
  left: 0;
  padding: 0 0.5em;
}
div.faceBox {
  border: 0;
  width: 3em;
  height: 10em;
  top: 0;
  left: 8.5em;
  position: absolute;
  text-align: center;
  overflow: visible;
}
div.date {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    margin-top:10px;
    color: rgb(0,0,0);
    font-size: 30px;
    font-family: cursive;
}
